@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 207 100% 95%;
    --foreground: 207 5% 10%;
    --card: 207 50% 90%;
    --card-foreground: 207 5% 15%;
    --popover: 207 100% 95%;
    --popover-foreground: 207 5% 15%;
    --primary: 207 56% 41%; /* Main reliable blue */
    --primary-foreground: 0 0% 100%; /* White for contrast */
    --secondary: 207 30% 70%; /* Lighter blue for secondary */
    --secondary-foreground: 207 5% 15%;
    --muted: 207 30% 80%; /* Muted lighter blue */
    --muted-foreground: 207 5% 35%;
    --accent: 207 40% 75%; /* Slightly brighter for accent */
    --accent-foreground: 207 5% 15%;
    --destructive: 0 84.2% 60.2%; /* Red for destructive actions */
    --destructive-foreground: 207 5% 90%; /* White for contrast */
    --border: 207 30% 50%; /* Neutral blue border */
    --input: 207 30% 26%;
    --ring: 207 56% 41%; /* Same as primary for focus */
    --radius: 0.5rem;
    --chart-1: 207 60% 40%; /* Blue for chart elements */
    --chart-2: 207 45% 35%;
    --chart-3: 207 30% 25%;
    --chart-4: 207 20% 65%; /* Light blue for contrast */
    --chart-5: 207 15% 50%; /* Subtle blue for variation */
  }

  .dark {
    --background: 207 50% 10%; /* Dark blue background */
    --foreground: 207 5% 90%;
    --card: 207 50% 10%;
    --card-foreground: 207 5% 90%;
    --popover: 207 50% 10%;
    --popover-foreground: 207 5% 90%;
    --primary: 207 56% 41%; /* Main reliable blue */
    --primary-foreground: 0 0% 100%; /* White for contrast */
    --secondary: 207 30% 20%; /* Darker blue for secondary */
    --secondary-foreground: 207 5% 90%;
    --muted: 207 30% 20%; /* Muted darker blue */
    --muted-foreground: 207 5% 60%;
    --accent: 207 40% 30%; /* Slightly brighter for accent */
    --accent-foreground: 207 5% 90%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 207 5% 90%;
    --border: 207 30% 26%;
    --input: 207 30% 26%;
    --ring: 207 56% 41%; /* Same as primary for focus */
    --radius: 0.5rem;
    --chart-1: 207 60% 40%; /* Blue for chart elements */
    --chart-2: 207 45% 35%;
    --chart-3: 207 30% 25%;
    --chart-4: 207 20% 65%; /* Light blue for contrast */
    --chart-5: 207 15% 50%; /* Subtle blue for variation */
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}